@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Guardian Egyptian Headline', 'Georgia', 'Times New Roman', serif;
}

body {
  margin: 0;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
